{% extends "base.html" %}
{% block content %}
    <div class="jumbotron container text-center">
        <div class="row">
            <div class="col-sm-7 text-right">
                <h1>{{ post.title }}</h1>
            </div>
            <div class="col-sm-5 text-left">
                    <img src="../../static/img/monop_guy.png"
                         style="width:100px;
                         height: 100px;
                         background-color: #12ABB2;
                         color: #ffffff;"
                         class="img-circle">

            </div>
        </div>
    </div>
    <div class="container content-section-c">
            <div class="row">
                    <div class="col-sm-12 col-md-offset-1">

                            <div class="row">
                                <div class="col-xs-9">
                                    {% if post.image %}
                                        <img src="/media/{{ post.image}}" style="height: 100px; width: 100px">
                                    {% endif %}
                                    <p>{{ post.content }}</p>

                                    <button class="btn btn-default" onclick="location.href='/blog'">Back To Blog</button>
                                    <button class="btn btn-default" onclick="location.href='edit'">Edit</button>
                                    {{ post.published_date }} | <strong>Views</strong>
                                    {{ post.views }} | <strong>Tag</strong> {{ post.tag }}
                                </div>
                            </div>
                    </div>
            </div>
    </div>
                            <div class="container content-section-b">
                                {% load disqus_tags %}
                                {% set_disqus_title post.title %}
                                {% disqus_show_comments %}
                            </div>



{% endblock %}