{% extends "base.html" %}
{% block content %}
    {% load bootstrap_tags %}
    <div class="container-fluid">
    <div class="jumbotron">

            <h1>Choose An Investment Option:</h1>
                    <div>
                        <h2 style="color: red;"><strong>In Test Mode</strong></h2>
                        <h4><strong>Choose a purchase: </strong>Click 'Buy Now'</h4>
                        <h4><strong>Use PayPal Login: </strong>some.one@gmail.com</h4>
                        <h4><strong>Password: </strong>Password01</h4>
                    </div>
        </div>

    <div class="content-section-c">
    <div class="container">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Image</th>
                                <th>Purchase</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.description }}</td>
                                    <td>${{ product.price }}</td>
                                    <td><img src="/media/{{ product.image}}" style="height: 100px; width: 100px"></td>
                                    <td>{{ product.paypal_form.sandbox }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
    </div>
    </div>
    </div>
{% endblock %}