{% extends "base.html" %}
{% block content %}
    {% load bootstrap_tags %}

        <div class="jumbotron container">
            <div class="intro-header">
                <div class="row">
                    <div class="col-sm-5">
                        <img class="rotate" src="../../static/img/gift_shop.jpg" alt="gift shop logo"
                             style="height: 16em; width: 18.75em;">
                    </div>
                    <div class="col-sm-7">
                            <div class="text-left">
                                <h1>The Gift Shop</h1>
                                <h3 style="color: red;"><strong>In Test Mode</strong></h3>
                                <h5><strong>Choose a purchase: </strong>Click 'Buy Now'</h5>
                                <h5><strong>Use PayPal Login: </strong>some.one@gmail.com</h5>
                                <h5><strong>Password: </strong>Password01</h5>
                            </div>
                    </div>
                </div>
            </div>
        </div>
<div class="product-table container">
        <div>
            <table class="table table-striped hp-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Purchase</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>${{ product.price }}</td>
                            <td><img src="/media/{{ product.image}}" style="height: 100px; width: 100px"></td>
                            <td>{{ product.paypal_form.sandbox }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock %}