{% extends "base.html" %}
{% block content %}
    {% load bootstrap_tags %}
    <div class="container">
    <h1>Make a One Off Investment Into One Of the Options below</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Purchase</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>${{ product.price }}</td>
                            <td><img src="/media/{{ product.image}}" style="height: 100px; width: 100px"></td>
                            <td>{{ product.paypal_form.sandbox }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}