{% extends 'base.html' %}
{% block content %}
    {% load bootstrap_tags %}
<div class="jumbotron container">
    <div class="container intro-header">
        <h1>Contact us here</h1>
        <h4><span class="glyphicon glyphicon-phone"></span>We'd love to hear from you
            <span class="glyphicon glyphicon-envelope"></span></h4>
    </div>
</div>
    <div class="container contact_page">

        <div class="contact_style">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
                                <button type="button"><span>Contact Us</span></button>
                            <div class="morph-content">
                                <div class="content-style-form content-style-form-4">
                                    <strong><h2 class="morph-clone">Contact Us</h2></strong>
                                        <strong><form method="post">
                                            {% csrf_token %}
                                            {{ form | as_bootstrap }}
                                            <input type="submit" value="Submit" class="btn wow tada btn-embossed btn-primary"/>
                                        </form></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
        <div class="container content-section-c">
				<div class="col-md-6 col-md-offset-3 text-left address">
					<address>
					<h3>Office Location</h3>
					<p class="lead">
                        <a href="#">Property Mogul Head Office<br>
					Dublin, Ireland</a><br>
					<h3>Phone: XXX-XXX-XXXX<br>
					Fax: XXX-XXX-YYYY</h3>
					</address>

				</div>
        </div>
{% endblock %}