{% extends "base.html" %}
{% load house_extras %}
{% load bootstrap_tags %}
{% block content %}

    <div class="jumbotron">
        <div class="intro-header">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="rotate" src="../../static/img/house_logo.PNG" alt="house logo"
                             style="height: 16em; width: 18.75em;">
                    </div>
                    <div class="col-sm-8">
                        <div class="text-left">
                        <h1>Choose Your Investment</h1>
                            <div>
                                <h3 style="color: red;"><strong>In Test Mode</strong></h3>
                                <h5><strong>Choose a Monthly Investment amount: </strong>Click 'Subscribe'</h5>
                                <h5><strong>Use PayPal Login: </strong>some.one@gmail.com</h5>
                                <h5><strong>Password: </strong>Password01</h5>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="jumbotron product-table">
        <div>
            <table class="table table-striped hp-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Subscribe</th>
                    </tr>
                </thead>
                <tbody>
                    {% for house in houses %}
                        <tr>
                            <td>{{ house.name }}</td>
                            <td>{{ house.description }}</td>
                            <td>${{ house.price }}</td>
                            <td><img src="/media/{{ house.image }}" style="height: 100px; width: 100px"></td>
                            <td>{% paypal_form_for house user %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}