{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    {% load bootstrap_tags %}

<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>

        <!-- FullScreen -->
    <div class="intro-header">
        <div class="row">


            <div class="col-xs-12 text-center abcen1">
                <i class="fa fa-home fa-4x wow rotate"> </i>
                <h1 class="h1_home wow bounceInUp" data-wow-delay="0.4s">PROPERTY MOGUL</h1>
                          <h3 class="h3_home wow fadeIn" data-wow-delay="1.6s">where <strong>ANYONE</strong>
                              can invest in property in 3 easy steps</h3>

            <!-- /.container -->

            </div>
        </div>

			<div class="row">

				<div class="col-sm-4 wow fadeInDown text-center">
				  <img class="rotate" src="../static/img/icon/register.svg" alt="Generic placeholder image">
				  <h3>Register</h3>
                    <p class="lead">Become a member and gain exclusive access to:</p>
                    <ul class="rego">
                        <li class="rego">The Blog</li>
                        <li class="rego">Members Forum</li>
                        <li class="rego">Investment Centre</li>
                    </ul>

				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="../static/img/icon/picture.svg" alt="Generic placeholder image">
				   <h3>Browse</h3>
				   <p class="lead">Our experts have carefully chosen properties with good investment return opportunity.
                       Browse our upcoming investments and decide how much you would like to invest and become a part
                       owner of these properties. </p>
				   <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="../static/img/icon/invest.svg" alt="Generic placeholder image">
				   <h3>Invest</h3>
					<p class="lead">Make investments using a secure PayPal Investment Centre.</p>
				    <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

                <div class="col-xs-12 text-center abcen wow fadeIn">
    {#                <div class="button_down">class below was 'img_scroll'#}
                        <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis">
                            <img class="img_scroll" src="../static/img/icon/circle.png" alt="See More"></a>
    {#                </div>#}
                </div>

			</div><!-- /.row -->

{#			<div class="row tworow">#}
{##}
{#				<div class="col-sm-4  wow fadeInDown text-center">#}
{#				  <img class="rotate" src="../static/img/icon/laptop.svg" alt="Generic placeholder image">#}
{#				  <h3>Responsive</h3>#}
{#				  <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>#}
{#				 <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->#}
{#				</div><!-- /.col-lg-4 -->#}
{##}
{#				<div class="col-sm-4 wow fadeInDown text-center">#}
{#				  <img  class="rotate" src="../static/img/icon/map.svg" alt="Generic placeholder image">#}
{#				   <h3>Google</h3>#}
{#				   <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>#}
{#				   <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->#}
{#				</div><!-- /.col-lg-4 -->#}
{##}
{#				<div class="col-sm-4 wow fadeInDown text-center">#}
{#				  <img  class="rotate" src="../static/img/icon/browser.svg" alt="Generic placeholder image">#}
{#				   <h3>Bootstrap</h3>#}
{#				 <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>#}
{#				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->#}
{#				</div><!-- /.col-lg-4 -->#}
{##}
{#                <div class="col-xs-12 text-center abcen wow fadeIn">#}
{#                <div class="button_down ">#}
{#                    <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#useit">#}
{#                        <img class="img_scroll" src="../static/img/icon/circle.png" alt=""> </a>#}
{#                </div>#}
{#            </div>#}
{##}
{#			</div><!-- /.row -->#}
{#		</div>#}
{#	</div>#}
    </div>
	<!-- Use it -->
    <div id ="whatis" class="content-section-a">

        <div class="container">

            <div class="row">

				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="../static/img/nest_egg.png" alt="">
                </div>

                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
                    <h3 class="section-heading">Full Control</h3>
					<div class="sub-title lead3">Choose what you invest in<br>
                        Cashout anytime</div>
                    <p class="lead">
						You maintain full control of your investments from what you invest in,
                        to how much you invest per Month and with a
                        Cashout feature to withdraw your investments at any time!
					</p>
                    <p>Read the Blog</p>
                    <p>Join the debate in the Forum</p>
					 <p><a class="btn btn-embossed btn-primary" href="#" role="button">Register</a>
					 <a class="btn btn-embossed btn-info" href="#" role="button">Log In</a></p>
				</div>
            </div>

        </div>
        <!-- /.container -->
    </div>

    <div id="drag" class="content-section-b">

		<div class="container">
            <div class="row">

                <div class="col-sm-6 wow fadeInLeftBig">

                        <img class="img-responsive" src="../static/img/Real-Estate-Investment.png" alt="">


                </div>

                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">
                    <h3 class="section-heading">Browse</h3>
					<div class="sub-title lead3">Check out what properties we are looking at investing<br>
                    Buy related products from our PayPal store</div>
                    <p class="lead">
						All of our upcoming properties are featured in our Properties section.
                        We have a wide variety of properties from 2 - bedders to skyscrapers.
                        You choose how much per Month you invest in.
					</p>
                    <p>Find a property you like the look of and then click subscripe for a Monthly investment</p>
                    <p>Further products available in the Products PayPal Store</p>

					 <p><a class="btn btn-embossed btn-primary" href="#" role="button">Register</a>
					 <a class="btn btn-embossed btn-info" href="#" role="button">Log In</a></p>
				</div>
			</div>
        </div>
    </div>

    <div class="content-section-a">

        <div class="container">

             <div class="row">

				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="../static/img/cashout.png" alt="">
                </div>

                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
                    <h3 class="section-heading">Cash Out</h3>
                    <p class="lead">Get your money back plus profits anytime
					</p>

					<ul class="descp lead2">
						<li><i class="glyphicon glyphicon-signal"></i> Manage your investments</li>
						<li><i class="glyphicon glyphicon-home"></i> Reinvest your profits</li>
						<li><i class="glyphicon glyphicon-euro"></i> Build compound interest</li>
					</ul>
				</div>
            </div>
        </div>

    </div>

	<!-- Screenshot -->
	<div id="screen" class="content-section-b">
        <div class="container">
          <div class="row" >
			 <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
				<h2>Screen Shots</h2>
			 </div>
		  </div>
		    <div class="row wow bounceInUp" >
              <div id="owl-demo" class="owl-carousel">

				<a href="../static/img/slide/1.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="../static/img/slide/prop.png" alt="Owl Image">
					</div>
				</a>

               <a href="../static/img/slide/2.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="../static/img/slide/blogul.png" alt="Owl Image">
					</div>
				</a>

				<a href="../static/img/slide/3.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="../static/img/slide/forum.png" alt="Owl Image">
					</div>
				</a>

				<a href="../static/img/slide/1.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="../static/img/slide/prop.png" alt="Owl Image">
					</div>
				</a>

               <a href="../static/img/slide/2.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="../static/img/slide/blogul.png" alt="Owl Image">
					</div>
				</a>

				<a href="../static/img/slide/3.png" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="../static/img/slide/forum.png" alt="Owl Image">
					</div>
				</a>
              </div>
          </div>
        </div>


	</div>

	<!-- Credits -->
{#	<div id="credits" class="content-section-a">#}
{#		<div class="container">#}
{#			<div class="row">#}
{##}
{#                <div class="col-md-6 col-md-offset-3 text-center wrap_title">#}
{#                    <h2>Technology Used</h2>#}
{#                 </div>#}
{#            </div>#}
{##}
{#            <div class="row">#}
{#				<div class="col-md-2 block wow bounceIn">#}
{#					<div class="row">#}
{#						<div class="col-md-12 box-icon rotate">#}
{#							<i class="fa fa-desktop fa-4x "> </i>#}
{#						</div>#}
{#						<div class="col-md-12 box-ct">#}
{#							<h3> Django </h3>#}
{#							<p> Lorem ipsum dolor sit ametconsectetur adipiscing elit. Suspendisse orci quam. </p>#}
{#						</div>#}
{#				  </div>#}
{#			    </div>#}
{#			  <div class="col-md-2 block wow bounceIn">#}
{#					<div class="row">#}
{#					  <div class="col-md-12 box-icon rotate">#}
{#						<i class="fa fa-picture-o fa-4x "> </i>#}
{#					  </div>#}
{#					  <div class="col-md-12 box-ct">#}
{#						<h3> Python </h3>#}
{#						<p> Nullam mo  arcu ac molestie scelerisqu vulputate, molestie ligula gravida, tempus ipsum.</p>#}
{#					  </div>#}
{#					</div>#}
{#			  </div>#}
{##}
{#		        <div class="row tworow">#}
{#				<div class="col-md-2 block wow bounceIn">#}
{#					<div class="row">#}
{#						<div class="col-md-12 box-icon rotate">#}
{#							<i class="fa fa-magic fa-4x "> </i>#}
{#						</div>#}
{#						<div class="col-md-12 box-ct">#}
{#							<h3> MySQL </h3>#}
{#							<p> Lorem ipsum dolor sit ametconsectetur adipiscing elit. Suspendisse orci quam. </p>#}
{#						</div>#}
{#				  </div>#}
{#			    </div>#}
{#			  <div class="col-md-2 block wow bounceIn">#}
{#					<div class="row">#}
{#					  <div class="col-md-12 box-icon rotate">#}
{#						<i class="fa fa-heart fa-4x "> </i>#}
{#					  </div>#}
{#					  <div class="col-md-12 box-ct">#}
{#						<h3> Bootstrap</h3>#}
{#						<p> Nullam mo  arcu ac molestie scelerisqu vulputate, molestie ligula gravida, tempus ipsum.</p>#}
{#					  </div>#}
{#					</div>#}
{#			  </div>#}
{#            </div>#}
{#		</div>#}
	</div>

{% endblock %}
