{% extends "base.html" %}
{% load threads_extras %}
{% block content %}
    {% load bootstrap_tags %}
<div class="jumbotron">
    <div class="container intro-header">
        <h1>Welcome to the Property Mogul Forum</h1>
        <h4><span class="glyphicon glyphicon-user"></span> Click on a Forum main subject below and get involved</h4>
        <h4><span class="glyphicon glyphicon-pencil"></span>Add your comments</h4>
        <h4><span class="glyphicon glyphicon-ok"></span>Vote in polls on important decisions</h4>
    </div>
</div>
                {% for subject in subjects %}

                        <div class="container content-section-c">
                            <h2><a href="{% url 'threads' subject.id %}">{{ subject.name }}</a></h2>
                            <p>

                                    {% autoescape off %}
                                        {{ subject.description }}
                                    {% endautoescape %}

                            </p>

                            <strong>THREADS</strong> {{ subject.threads.count }} | <strong>POSTS</strong> {{ subject|get_total_subject_posts }}
                        </div>

                {% endfor %}
{% endblock %}