{% extends "base.html" %}
{% load threads_extras %}
{% block content %}
    {% load bootstrap_tags %}

    <h1>Hi {{ user.first_name }}!  Welcome to the Property Mogul Forum section</h1>
    <p>Click on a Forum main subject below and get involved</p>
    <p>Features comments section and polls for members to vote on important decisions</p>
    {% for subject in subjects %}
        <section class="subject">
            <div class="jumbotron">
            <h2><a href="{% url 'threads' subject.id %}">{{ subject.name }}</a></h2>
            <p>

                    {% autoescape off %}
                        {{ subject.description }}
                    {% endautoescape %}

            </p>

            <strong>THREADS</strong> {{ subject.threads.count }} | <strong>POSTS</strong> {{ subject|get_total_subject_posts }}
            </div>
        </section>
    {% endfor %}
{% endblock %}