{% extends "base.html" %}
{% load threads_extras %}
{% block content %}
    <div class="row header">
        <div class="jumbotron container">
            <h1>{{ subject.name }}</h1>
        </div>
        <div class="container">
            <div class="col-md-12">
                <h2 class="text-white">Threads: </h2>
                {% for thread in subject.threads.all %}
                    {% include "forum/thread_item.html" %}
                {% endfor %}
                {% if user.is_authenticated %}
                    <p>
                        <a href="{% url 'new_thread' subject.id %}" class="btn btn-primary">New Thread</a>
                    {{ post.comment }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}